$color_1: #999;
$color_2: #434651;
$color_3: #444;
$color_4: #86c541;
$color_5: #e47297;
$color_6: #1d8ecd;
$border-bottom-color_1: #fff;
$border-bottom-color_2: #efefef;
$border-bottom-color_3: #e8f1f3;
